country_codes:
  - RU
  - UA
  - AT
  - BE
  - GB
  - DE
  - IE
  - MC
  - NL
  - FR
  - CH
  - CZ
  - DK
  - NO
  - FI
  - SE
  - GR
  - ES
  - IT
  - PT
  - TR
  - BY
  - KZ
  - CA
  - JP
  - PL
  - AR
  - UY
  - PE
  - BR
  - MX
  - HU
  - NZ
  - AU
  - PY
  - EC
  - CO
  - BO
  - CR
  - NI
  - PH
  - TH
  - EG
  - SA
  - MY
  - ID
  - CN
  - HK
  - IL
  - VN
  - SI
  - SK
  - EE
  - LT
  - LV
  - UZ
  - TM
  - TJ
  - AZ
  - AM
  - MD
  - SV
  - IN
  - GE
  - RO
  - KR
  - TW
  - AF
  - AL
  - AD
  - AO
  - BH
  - BD
  - BZ
  - BJ
  - BT
  - BA
  - BW
  - BG
  - BI
  - KH
  - CM
  - TD
  - CL
  - CD
  - CK
  - HR
  - CU
  - CY
  - DM
  - DO
  - GQ
  - ER
  - ET
  - FJ
  - GA
  - GM
  - GH
  - GI
  - GL
  - GP
  - GW
  - GY
  - HT
  - HN
  - IS
  - IR
  - IQ
  - JM
  - JO
  - KE
  - KI
  - KW
  - LA
  - LB
  - LS
  - LR
  - LY
  - LI
  - MK
  - MG
  - MW
  - ML
  - MT
  - MR
  - MU
  - MN
  - ME
  - MA
  - MZ
  - MM
  - NA
  - NR
  - NP
  - NE
  - NG
  - OM
  - PK
  - PR
  - RW
  - QA
  - VC
  - WS
  - ST
  - SN
  - RS
  - SL
  - SO
  - LK
  - SD
  - SR
  - SZ
  - SY
  - TZ
  - TL
  - TG
  - TT
  - UG
  - VU
  - VE
  - YE
  - ZM
  - ZW
  - US
  - PA
  - GT
  - SG
  - AE
  - ZA
  - KG
  - DZ
  - AS
  - AQ
  - AG
  - BS
  - BN
  - BF
  - CF
  - KM
  - CG
  - CI
  - DJ
  - GN
  - VA
  - KP
  - LU
  - MV
  - PS
  - PG
  - SM
  - GS
  - SS
  - TO
  - TN